[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djitellopy = {file = "https://github.com/damiafuentes/DJITelloPy/archive/master.zip"}

[requires]
python_version = "3.7"
